body main{
	background: linear-gradient(135deg, #b0ffc0 0%, #1a73e8 100%)
}

.ui.large.menu{
	padding:28px 30px 27px;
}

.ui.header .logo{width:200px;} 


.ui.fluid.container {
    width: 1127px;
}

.el-main{
	background:#ffffff;
	box-shadow:0 10px 30px rgba(0, 0, 0, 0.04),0 2px 8px rgba(0, 0, 0, 0.02); 
	margin-bottom:5rem;
}

h1.kv_title{
	font-size:1.4rem;
	font-weight:700;
	font-family:Noto Sans JP,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


.el-header{padding:3rem 2rem}

.ui.items>.item>.content{
	padding: 2rem 3rem 3rem;
	font-family:Noto Sans JP,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body .ui.items .ui.item.raised{
	box-shadow:none;
}

/*小項目余白*/
.kv-text-element[data-v-3c086a02],.kv-link-element[data-v-2e13a7b1]{
	padding:1rem 0;
}

.kv-element[data-v-32a108ae]{
	border-bottom:1px solid #e3e7ef;
	margin:1rem 0;
}

/*登録年度*/
.kv-number-element[data-v-35c5cf99] {
	font-size:3rem;
}

/*ボタン上余白*/
.ui.black.button{
	margin-top:3rem;
}

/*ボタンカラー*/
.ui.black.button, .ui.black.buttons .button{
	background-color:#0079D2;
}

.ui.black.button:hover,.ui.black.buttons.button:hover {
	background-color:#4fb3f9;
}

/*モバイル コンテンツ余白*/
@media only screen and (max-width: 767px){

.ui.items>.item>.content{
    padding: 0 1rem 1rem;
}
}

